#--------------------------------------------------
pcie/xc7z045_pcie_v_1/hardware/*
!pcie/xc7z045_pcie_v_1/hardware/etc/
!pcie/xc7z045_pcie_v_1/hardware/hdl/
!pcie/xc7z045_pcie_v_1/hardware/xdc/
!pcie/xc7z045_pcie_v_1/hardware/rebuild/

pcie/xc7z045_pcie_v_1/hardware/bd/
!pcie/xc7z045_pcie_v_1/hardware/bd/xc7z045_pcie_v_1.tcl


#--------------------------------------------------

#--------------------------------------------------

#--------------------------------------------------