#--------------------------------------------------
hardware/*
!hardware/etc/
!hardware/hdl/
!hardware/xdc/
#--------------------------------------------------

#--------------------------------------------------