Packages/*
#--------------------------------------------------
# todo: bd
fpga/*

#--------------------------------------------------
firmware/.metadata/*
electrolux_test_bsp/*
freertos_mastering_wrapper_hw_platform_0/*
*.project
electrolux_test/*
!electrolux_test/src/*
!electrolux_test/inc/*

*.log
*.hdf
#--------------------------------------------------

#--------------------------------------------------